$spacing-s: calc(12 / 16) + rem;
$spacing-m: calc(18 / 16) + rem;
$spacing-l: calc(24 / 16) + rem;
$spacing-xl: calc(32 / 16) + rem;

$width-card-mobile: calc(338 / 16) + rem;
$width-card-desktop: calc(412 / 16) + rem;

$size-circle-mobile: calc(40 / 16) + rem;
$size-circle-desktop: calc(52 / 16) + rem;

$size-radius: calc(24 / 16) + rem;