.theme-dark {
  --bg-container: #141519;
  --bg-card: #202731;
  --bg-symbol: #2A313D;
  --color-text: #959EAC;
  --color-title: #FDFFFF;
  --accent-color: #2F55D8;
  --bg-circle: #495158;
  --bg-circle-hover: #8D98A5;
  --bg-circle-checked: var(--accent-color);
}